# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
ios/Pods/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Keystores
*.keystore

# Firebase config files
# Both files are needed by EAS Build, so they must be tracked
# google-services.json - Android
# GoogleService-Info.plist - iOS

# Environment
.env
.env.local
.env.production

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Metro
.metro-health-check*

# Testing
coverage/
